<div class="app-body pt-5">
  <main class="main d-flex align-items-center pt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto p-1">
          <div class="card p-3 position-relative">
            <div class="d-flex custom-border">
              <span class="secondary-bg"></span>
              <span class="primary-bg"></span>
              <span class="secondary-bg"></span>
              <span class="primary-bg"></span>
            </div>
            <div class="card-body">
              <h3 id="forgotTitle">Forgot Password</h3>
              <p class="">Enter the email address associated with your account to reset your password.</p>
              <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa fa-user"></i></span>
                <input type="email" class="form-control" placeholder="Email address" id="forgotEmail"
                  name="forgotPassword" [(ngModel)]="forgotPasswordInfo.email">
              </div>
              <h6 class="text-danger" *ngIf="errorMessage">{{errorMessage}}</h6>
              <h6 class="text-success" *ngIf="successMessage">{{successMessage}}</h6>
              <div class="row">
                <div class="col-12">
                  <button type="button" class="btn btn-primary px-4" [disabled]="!forgotPasswordInfo.email"
                    (click)="forgotPassword()">Continue
                    <span> <i *ngIf="loading" class="fa fa-refresh fa-spin ml-2" aria-hidden="true"></i></span>
                  </button>
                  <button type="button" [routerLink]="['/login']" class="btn btn-secondary px-4 m-2">Cancel</button>
                </div>
              </div>
            </div>
          </div>
          <!-- <pre [innerHtml]="forgotPasswordInfo | json"> </pre> -->
        </div>
      </div>
    </div>
  </main>
</div>
