<!--Navabr-->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary ">
  <i class="fa fa-shopping-bag ml-5" aria-hidden="true"></i><a class="navbar-brand ml-1" [routerLink]="['/home']">&nbsp;Shopping Mart</a>
  <button aria-controls="main-nav" (click)="toggleNavbar()" class="navbar-toggler collapsed" type="button"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="main-nav" [ngClass]='{show: showNav}'>
    <button aria-controls="main-nav" (click)="toggleNavbar()" class="navbar-toggler collapsed" type="button"
          aria-label="Toggle navigation">
          <i class="fa fa-times"></i>
        </button>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']">Home<span class="sr-only">(current)</span></a>
      </li>
<!--   <li class="nav-item" *ngIf="currentUser?._id">
        <a class="nav-link" [routerLink]="['/user-profile']">User Profile</a>
      </li> -->
      <li *ngIf="currentUser?._id && currentUser.role === uRoles.adminRole" class= "nav-item">
        <a class="nav-link" [routerLink]="['/products']">Products</a>
      </li>
      <li *ngIf="currentUser?._id && currentUser.role === uRoles.userRole" class="nav-item">
        <a class="nav-link" [routerLink]="['/product-list']">Order List</a>
      </li>
    </ul>
    <form class="d-flex p-2">
      <div class="input-group">
          <input type="text" class="form-control" placeholder="Search">
          <button type="button" class="btn btn-secondary"><i class="fa fa-search"></i></button>
      </div>
  </form>
  <div *ngIf="currentUser?._id" class="btn-group nav-item slide-down loginUser p-2 mr-3" dropdown>
    <span class="text-capitalize align-middle">Welcome {{currentUser.firstname}}</span>
    <i class="fa fa-gear test-white pl-2 pt-1 fs-5" style="cursor: pointer;" dropdownToggle> </i>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li class="nav-item">
        <a class="dropdown-item p-2 pl-3" [routerLink]="['/user-profile']"><i class="fa fa-user p-1"></i>
          Profile Setting</a>
        <hr class="m-0">
      </li>
      <li class="nav-item">
        <a class="dropdown-item p-2 pl-3" [routerLink]="['/login']" (click)="logout()" type="submit">
          <i class="fa fa-lock p-1"></i>
           logout
        </a>
      </li>
    </ul>
  </div>

  <!--<span *ngIf="currentUser?._id" class="navbar-text">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       <li class="nav-item">
         <div class="p-1 mr-4">
            <button class="nav-item btn btn-light" [routerLink]="['/login']" (click)="logout()" type="button">logout</button>
         </div>
       </li>
    </ul>
  </span>-->

  <a *ngIf="!currentUser?._id"  class="navbar-text">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <div class="p-1">
            <button class="nav-item btn btn-light" [routerLink]="['/signup']" type="button"> Sign Up</button>
          </div>
        </li>
        <li class="nav-item">
          <div class="p-1 mr-5">
            <button class="nav-item btn btn-light" [routerLink]="['/login']" type="button">Login</button>
          </div>
        </li>
       </ul>
  </a>
  </div>
</nav>
<ngx-spinner bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"><p style="color: rgb(255, 255, 255)" > Loading... </p></ngx-spinner>


<router-outlet></router-outlet>

<!--footer-->
<footer class="text-center text-lg-start bg-primary text-muted fixed-bottom">
  <div class="text-center p-4" style="color: white;">
    ©Copyright 2022:
    <a class="text-reset fw-bold" href="#">ShoppingMart.com</a>
  </div>
</footer>
<!-- Footer ends-->

