<div class="app-body pt-5">
  <main class="main d-flex align-items-center pt-5">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-8 mx-auto p-1">
          <div class="card p-3 position-relative">
            <div class="d-flex custom-border">
              <span class="secondary-bg"></span>
              <span class="primary-bg"></span>
              <span class="secondary-bg"></span>
              <span class="primary-bg"></span>
            </div>
            <div class="card-body">
              <div class="card-title" *ngIf="expiredLinkErrorMsg">
                <div class="text-center">
                  <p class="alert alert-danger text-left" role="alert" style="font-family: initial;">
                    {{expiredLinkErrorMsg}}
                  </p>
                </div>
              </div>
              <div *ngIf="!expiredLinkErrorMsg">
                <h3 id="forgotTitle text-left"><span class="">Recover Your Password </span></h3>
                <div class="mb-3">
                  <div class="input-group">
                    <span class="input-group-text"
                      [ngClass]="{'text-danger' : !userResetInfo.newPass, 'text-success':userResetInfo.newPass}">
                      <i class="fa fa-lock"></i></span>
                    <input [type]=viewInputType.newPassType maxlength="10" class="form-control"
                      placeholder="Enter new password" name="newPass" [(ngModel)]="userResetInfo.newPass"
                      (ngModelChange)="patternMatchCheck(userResetInfo.newPass, 'strongPasswordCheck')">
                    <span class="input-group-text cursor-pointer" (click)="changeInputType('newPassType')">
                      <i class="fa fa-eye"></i>
                    </span>
                    <p class="alert fade alert-danger show mt-1" role="alert"
                      *ngIf="userResetInfo.newPass && !inValidateCheck.strongPasswordCheck">
                      Use Strong Password min 8 characters,1 lowercase letter,1 uppercase letter,1 number ,1 special
                      character.</p>
                  </div>
                </div>
                <div class="mb-3">
                  <div class="input-group">
                    <span class="input-group-text"
                      [ngClass]="{'text-danger' : !userResetInfo.newConfPass, 'text-success':userResetInfo.newConfPass}">
                      <i class="fa fa-lock"></i>
                    </span>
                    <input [type]=viewInputType.newConfType maxlength="10" class="form-control"
                      placeholder="Enter confirm password" [(ngModel)]="userResetInfo.newConfPass" name="newConfPass">
                    <span class="input-group-text cursor-pointer" (click)="changeInputType('newConfType')">
                      <i class="fa fa-eye"></i>
                    </span>
                  </div>
                  <p class="alert alert-danger show mt-1" role="alert"
                    *ngIf="userResetInfo.newPass && userResetInfo.newConfPass && userResetInfo.newPass !== userResetInfo.newConfPass">
                    Confirm Password must match with password.
                  </p>
                </div>
                <div class="row">
                  <div class="col-12">
                    <button type="button" class="btn btn-primary px-4" (click)="resetPassword()"> Continue </button>
                    <button type="button" [routerLink]="['/login']" class="btn btn-secondary px-4 m-2">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <pre [innerHtml]="userResetInfo | json"> </pre> -->
        </div>
      </div>
    </div>
  </main>
</div>
