<!-- Button trigger modal -->
<div class="container pt-5 mb-5 card ">
  <div class="row text-left p-2">
    <h4 class="col-12" *ngIf="currentUser.role === uRoles.userRole">
     YOUR PLACED ORDER'S ARE HERE
    </h4>
    <h4 class="col-12" *ngIf="currentUser.role === uRoles.adminRole">
      ALL ORDERS OF CUSTOMERS
     </h4>
    <hr>
  </div>

  <div class="container-fluid app-user bg-white p-5">
    <div class="table-responsive-lg">
      <!-- list -->
      <table [dtOptions]="dtOptions" datatable [dtTrigger]="dtTrigger"
        class="table table-bordered table-hover table-striped" style="width: 100%">
        <thead>
          <tr class="text-nowrap text-primary ">
            <th>S.N.</th>
            <th>PRODUCT ID</th>
            <th>PRODUCT <b>(S)</b></th>
            <th>PRODUCT IMAGE</th>
            <th>PRODUCT PRICE <b>(OFF)</b></th>
            <th>QUANTITY</th>
            <th>PRODUCT DISCRIPTION</th>
            <th>ORDER DATE</th>
          </tr>
        </thead>
        <tbody class="text-wrap">
          <tr class=" border" *ngFor="let order of orderList; let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{order.razorpayOrderId}}</td>
            <td>{{order.productDetails?.productname}} <b>({{order.size}})</b></td>
            <td><img [src]="order.productDetails?.productImg" width="150px" height="100px"> </td>
            <td>{{order.amount}} ({{order.productDetails?.productmargin}} %)</td>
            <td>{{order.quantity}}</td>
            <td [title]="order.productDetails?.Productdescription">{{order.productDetails?.Productdescription.substring(0,50)}}</td>
            <td>{{order.createdAt | date: 'MM/dd/yyyy'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- <pre [innerHtml]="orderList | json"> </pre> -->
