<div class="app-body">
  <main class="main d-flex align-items-center pt-5">
    <div class="container mt-5 p-2 pt-5">
      <div class="row">
        <div class="col-md-6 m-auto">
          <div class="card-group">
            <div class="card p-4 mb-0 login-section position-relative">
              <div class="d-flex custom-border">
                <span class="secondary-bg"></span>
                <span class="primary-bg"></span>
                <span class="secondary-bg"></span>
                <span class="primary-bg"></span>
              </div>
              <div class="card-body text-center">
                <h4 class="text-primary"> Welcome To Shopping Mart</h4>
              </div>
            </div>
          </div>
          <!-- <pre [innerHtml]="login | json"> </pre> -->
        </div>

      </div>
    </div>
  </main>
</div>
